@model IEnumerable<ETI_X_2024_IntroASPNETCore.Models.Produkt>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nazwa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kategoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kategoria.Nazwa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProduktId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProduktId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProduktId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
