@model IEnumerable<ETI_X_2024_IntroASPNETCore.Models.Samochod>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<a asp-area="" asp-controller="Marka" asp-action="Index">Marka</a>
<a asp-area="" asp-controller="Model" asp-action="Index">Model</a>
<a asp-area="" asp-controller="Kolor" asp-action="Index">Kolor</a>
<a asp-area="" asp-controller="RodzajSilnika" asp-action="Index">RodzajSilnika</a>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Przebieg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RokProdukcji)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RodzajSilnika)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kolor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Przebieg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RokProdukcji)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marka.MarkaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model.ModelId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RodzajSilnika.RodzajSilnikaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kolor.KolorId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SamochodId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SamochodId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SamochodId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
